.container{
    padding-top: 30px;
    padding-left: 50px;
}
.title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.form{
    width: 100%;
}
.data-table{
    margin-top: 20px;
}